.post__container{
    /* display: flex;
    flex-direction: column; */
    margin: 1.3rem;
   }
.post__header{

}
.post__header h1{
color: rgb(27, 26, 26);
font-family:"IBM Plex Mono", monospace;
font-weight: 600;
line-height: 2.5rem;
margin: 2.5rem 0rem;
}
.post__info{
    display: flex;
    flex-direction: column;
}
.info__left{
    display: flex;
    align-items: center;
}
.info__left img{
    width: 1.5rem;
    height: 1.5rem;
}
.post__number__read{
    background-color: whitesmoke;
    margin-right: auto;
    margin-left: 0.5rem;
    padding: 0.5rem;
}
.post__number__read img{
    width: 1rem;
    height: 1rem;
}
.info__right{
    align-self: flex-end;
}
.info__right img{
    width: 2rem;
    height: 2rem;
}
.mainImage{
    margin: 1.5rem 0rem;
}
.profile{
    display: flex;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", sans-serif;
    color: rgb(60, 60, 59);
}
.profile__avatar{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}
.profile div{
    margin: 0rem;
    padding: 0rem;
}
.profile h4{
    margin: 0rem;
}
.profile h5{
    margin: 0.75rem 0rem;
}
.paragraph{
    font-size: 1.12rem;
    font-family: "IBM Plex Sans", sans-serif;
    color: rgb(60, 60, 59);
    margin: 2.5rem 0.1rem;
}
blockquote{
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", sans-serif;
    color: rgb(60, 60, 59);
    font-style: italic;
    margin: 2.5rem 0.1rem;
    text-align: center;

}
@media(min-width:482px){
    .post__container{
        margin: 0rem;
    }
}
@media (min-width:790px){
    .profile__markup__container{
        display: flex;
    }
    .profile{
        flex-direction: column;
    }
}
